<h2>Cronograma</h2>
<hr>

<div  class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input type="text" class="form-control mr-2"
     placeholder="buscar"
     [(ngModel)]="filtroLista">

  </div>

</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button type="button"class="btn btn-outline-light"(click)='alterarImgaem()'>{{!exibirImg ? 'ocultar':'ver'}}</button>


      </th>
      <th>Nome</th>
      <th>tarefa</th>
      <th>hrs plan</th>
      <th>hrs exec</th>
      <th>finalizado?</th>
      <th>OBS</th>
      <th>impactado ?</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>


        <img *ngIf="!exibirImg"
        src="/assets/{{evento.imgUrl}}"
        [style.width.px]="widthImg"
        [style.margin.px]="margImg"
        [collapse]="!alterarImgaem"
        [isAnimated]="true">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>corra </td>
      <td>{{evento.tema}}</td>
      <td><button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center" >
        <h3>Nenhum evento encontrado</h3>
      </td>
    </tr>
  </tfoot>
</table>
